html{
  scroll-behavior: smooth;
}
/*################################################
          BASIC PROPERTIES START
#################################################*/
*{
  padding: 0;
  margin: 0;
}
/*#################################################
           BASIC PROPERTIES ENDS
###################################################*/


/*#################################################
              NAVIGATION STARTS
##################################################*/
/*...........Menus Start...........*/

.navbar{
  padding: 22px 0px;
  transition: all 0.5s ease-in-out;
  border-bottom: none !important;


}


/*navbar menus styling*/
.navbar ul li a{
  color: white !important;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 13px;
  transition: all 0.5s ease-in;
}
.navbar ul li a:hover{
  color: deepskyblue !important;
  background: none !important;
}
/*.navbar-inverse{
  background-color: #34495e !important;


}*/
/* navbar-toggle styling*/
.navbar-toggle{
  border: 1px solid white !important;
  color:white !important;
  transition: all 0.5s ease-in;
}
.icon-bar
{
  color: white !important;
  background-color: white !important;
}
.navbar-toggle:hover{
  background-color: deepskyblue !important;
}
.navbar-inverse .navbar-collapse{
  border-color: transparent !important;
}
/* Styling Location Menu*/
.location{
  border: 1px solid white;
  border-radius: 50px;
}
/*...........Menus End...........*/

/*#################################################
              NAVIGATION ENDS
##################################################*/
.sticky
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: black;
}
/*#################################################
              STICKY NAVIGATION
##################################################*/

/*#################################################
              SLIDER STARTS
##################################################*/
.slider{
  width:100%;
  height:700px;
  background-image: url("..//img/amd.jpg");
  background-size: cover;
  background-position: center;
  color: white;
}
.slider-overlay{
 width: 100%;
 height: 100%;
 background: rgba(0,0,0,0.65);
 position: relative;
}
.slider-content{
  position: absolute;
  top: 39%;
  width: 100%;
}
/*icons apple android windows Styling*/
.icons .fa{
  font-size: 35px;
  margin-right: 7px;
}
/*buttons Styling*/
.cta-div{
  margin-top: 30px;
}
.btn1{
  padding: 13px 18px;
  background-color: transparent;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 13px;
  border: 2px solid white;
  border-top-left-radius: 15px;
  transition: all 0.5s ease-in;
  margin-right: -6px;
}
.btn1:hover{
  text-decoration: none;
  color: white;
  background-color: deepskyblue;
  border-color: deepskyblue;
}
.btn2{
  padding: 13px 18px;
  background-color: transparent;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 13px;
  border: 2px solid white;
  border-bottom-right-radius: 15px;
  transition: all 0.5s ease-in;
  margin-right: 10px;
}
.btn2:hover{
  text-decoration: none;
  color: white;
  background-color: orangered;
  border-color: orangered;
}
/*buttons Styling ENds*/

/*Social Network  Styling STARTS*/
.social-networks a.fa{
  border: 1px solid white;
  padding: 10px;
  color: white;
  width: 35px;
  height: 35px;
  border-radius: 25px;
  margin-right: 2px;
  transition: all 0.5s ease-in;
}
.social-networks a.fa:hover{
  text-decoration: none;
  background-color: deepskyblue;
  border: 1px solid deepskyblue;
  color: white;
}

/* SLider of ANimating Texting*/
.slider .text, .slider .typed-cursor
{
  display: inline;
  font-size: 50px;
  text-transform: uppercase;
}
.primary{
  color: orangered;
}
.typed-cursor{
  opacity: 1;
  animation: blink 0.7s infinite;
  -webkit-animation: blink 0.7s infinte;
  -moz-animation: blink 0.7s infinte;

}
@keyframes blink {
0%
{
  opacity: 1;
}
50%{
  opacity: 0;
}
100%{
  opacity: 1;
}
}
@-webkit-keyframes blink {
0%
{
  opacity: 1;
}
50%{
  opacity: 0;
}
100%{
  opacity: 1;
}
}
@-moz-keyframes blink {
0%
{
  opacity: 1;
}
50%{
  opacity: 0;
}
100%{
  opacity: 1;
}
}
/*#################################################
              SLIDER ENDS
##################################################*/














/*#################################################
              SERVICES START
##################################################*/
.service-area{
  margin-top: 30px;
  /**/

}
.service-area p{
  margin-bottom: -5px;
}
.service-wrap{
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  overflow: hidden;
  padding: 25px 35px;
  position: relative;
  transition: all 0.5s ease 0s;
  z-index: 9;
  margin-top: 25px;
}
/*USING PSEUDO PROPERTIES*/
.service-wrap::before, .service-wrap::after
{
  content:"";
  height: 300%;
  position: absolute;
  transform: rotate(45deg);
  width: 120%;
  z-index:-9;
  transition: all 0.5s;
  opacity: 0;
  background: #34495e;
}
.service-wrap::before
{
  top:-37px;
  left: 100%;
}
.service-wrap:hover:before
{
  left: -27px;
  opacity: 1;
}
.service-wrap::after
{
  right: 100%;
  bottom: -37px;
}
.service-wrap:hover:after
{
  right: -27px;
  opacity: 1;
}
.service-wrap:hover
{
  color: white;
}
.service-wrap:h3
{
  color: white;
}
.service-wrap:hover h3
{
  color: white;
}
.service-wrap:hover h3:after
{
  background-color: white;
}
.service-icon i{
  font-size: 30px;
  margin-bottom: 20px;
  transition: all 0.5s;

}
.service-wrap:hover  .service-icon i
{
  transform: rotate(360deg);
}

.service-wrap h3{
  font-size: 25px;
  font-weight: 700;
  padding-bottom: 15px;
  position: relative;
}
.service-wrap p{
  font-size: 14px;
  margin-bottom: 0;
}


/*#################################################
              SERVICES END
##################################################*/













/*#################################################
              WORK START
##################################################*/
.work
{
 margin-top: 25px;
}
.row.no-gutters [class*=col-]
{
  padding-left: 0;
  padding-right: 0;
}
.img-wrapper{
  overflow: hidden;
}
.img-wrapper img{
  transition: transform 0.5s ease;
  width: 100%;
}
.img-wrapper img:hover{
  transform: scale(1.5);
  cursor: zoom-in;
}
/*#################################################
              WORK SECTION ENDS
##################################################*/














/*#################################################
            TEAM MEMBER SECTION STARTS
##################################################*/
.team-members{
  margin: 0 25px;
}
.team-member-info{
  padding: 10px 0 30px 0;
}

h4.team-member-name
{
  font-size: 19px;
  font-weight: 700;
  letter-spacing: 1px;
  padding-top: 2px;
}

h4.team-member-designation
{
  color: #34c6d3;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-top: 5px;
  text-transform: capitalize;
}
.social-list
{
  padding-left: 0;
}
.social-list li{
  list-style: none;
  display: inline-block;     /*to put all icons in one line*/
  width: 32px;
  height: 32px;
  margin-right: 6px;
  margin-top: 10px;
}
.social-list i
  {
    font-size: 17px;
  }
.icon-gray i
{
  color: #64707b;
}
/*Owl Carousel dot */
.owl-theme .owl-dots .owl-dot.active span {

background:  #34495e !important;

}

/*#################################################
            TEAM MEMBER SECTION ENDS
##################################################*/












/*#################################################
            Blog SECTION ENDS
##################################################*/
/*#services-tabs{
  margin-top: 20px;
}
#services-tabs ul li
{
  padding: 5px 30px;
}
#services-tabs ul li a{
  font-family:'Roboto Condensed'sans-serif;
  font-size: 14px;
  color: #212227;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0;
  text-decoration: none;
}
#services-tabs ul li.r-tabs-state-active a{
  color: #fb527a;
  font-weight: 700;
  border-bottom: 3px solid  #fb527a;
  padding-bottom: 5px;
  transition: border-color 300ms linear;
}
.services-tab .col-md-6
{
  padding: 10;
}
.services-tab img{
  width: 100%;
  margin: 0 auto;

}
.services-tab .tab-bg{
  background: white;
  padding: 59px 30px;
  min-height: 481px;

}
.services-tab p{
  line-height: 24px;
  margin-bottom: 30px;
}
.btn-general{
  font-family: 'Roboto Condensed' sans-serif;
  border-radius: 28px;
  font-size: 13px;
  text-transform: uppercase;
  margin: 0 7px;
  padding: 12px 47px 12px 27px;
  transition: all 0.5s;
}

.btn-yellow{
  color: white;
  border: 1px solid #fb527a;
  background: #fb527a;
}
.btn-yellow:hover, .btn-yellow:focus{
  color: white;
  background-color: #212227;
  border:1px solid #212227;
}
/*#################################################
            Blog SECTION ENDS
##################################################*/












/*#################################################
          STAT SECTION STARTS
##################################################*/

.stat{
  background-image: url("../img/cover-bg-1.jpg");
  /*background: #121212;*/
  padding-top: 80px;
  padding-bottom: 80px;
  color: white;
  background-attachment: fixed;
  margin-top: 109px;
}
.stat i
{
  font-size: 50px;
}
.stat-items h2
{
  font-weight: bold;
  font-size: 42px;
  color: deepskyblue;
}
.stat p
{
   font-weight: bold;
   letter-spacing: 1px;
}



/*#################################################
          STAT SECTION ENDS
##################################################*/








/*#################################################
          VIDEO SECTION STARTS
##################################################*/
.vid video
{

   overflow: hidden;
   width: 100%;
   height: 500;
   margin-bottom: -5px;


}

/*#################################################
          VIDEO SECTION ENDS
##################################################*/
























/*#################################################
            MAP SECTION ENDS
##################################################*/


#map{
  width: 100%;
  height: 700px;
 margin-bottom: -5px;
}

/*#################################################
            MAP SECTION ENDS
##################################################*/










/*#################################################
          CONTACT SECTION STARTS
##################################################*/

#contact-section{

      background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.9)),url("../img/contact.jpg");
      background-size: cover;
      background-position: center;
      height: 100%;
      width: 100% ;
      padding-bottom: 2%;
      margin-bottom: -5px;
    }

    #contact-section .container h2{
      text-align: center;
       text-decoration: underline;
        /* text-decoration-color:red; */
        text-underline-position: under;
        color: rgb(238, 235, 235);
        letter-spacing: 2px;

    }



    #contact-section .container p{
      text-align: center;
      width: 70%;
      margin-left: auto;
       margin-right: auto;
       padding-bottom: 3%;
       color: #fff;
       letter-spacing:3px;
    }

    .contact-form i.fa{
      /* color: red; */
      /* color: #fff; */
      font-size: 22px;
      padding: 3%;
      background-color: none;
      border-radius: 80%;
      margin: 2%;
      /* border: 2px solid #fff; */
      cursor: pointer;
      border:2px solid rgb(190, 190, 190);
      color: rgb(190, 190, 190);
      text-align: center;
    }

    .contact-form i.fa:hover{
      cursor: pointer;
      border:2px solid white;
      color: white;
    }

      .contact-form{
        display: grid;
        grid-template-columns: auto auto;
         }

      .form-info{
        font-size: 16px;
        font-style: italic;
        color: white;
        letter-spacing: 2px;

      }
    .io input{
       padding: 10px;
       margin:10px;
       width: 70%;
       background-color:rgba(136, 133, 133, 0.5);
       color: white;
       border: none;
       outline:none;
     }

     .io input::placeholder{
       color: white;
     }

    .io  textarea{
     padding: 10px;
     margin: 10px;
     width: 70%;
     background-color:rgba(136, 133, 133, 0.5);
     color: white;
     border: none;
     outline:none;
    }
    .io textarea::placeholder{
      color: white;
    }



     .io .submit{
     width: 40%;
     background: none;
     padding: 4px;
     outline: none;
      /* border: 1px solid #fff;
     color: #fff; */
     font-size: 13px;
     font-weight: bold;
     letter-spacing: 2px;
     height: 33px;
     text-align: center;
     cursor: pointer;
     letter-spacing: 2px;
     margin-left: 3%;
     border:2px solid rgb(190, 190, 190);
     color: rgb(190, 190, 190);
    }

    .submit:hover{
          border: 1px solid #fff;
     color: #fff;
     cursor: pointer;
    }

       /* media queries */
   @media (max-width: 768px){

#contact-section .contact-form{
       display: block;
       width: 100%;
       text-align: center;
     }
     #contact-section .submit{

       width: 60%;
     }

 }

/*#################################################
          CONTACT SECTION STARTS
##################################################*/



















/*#################################################
        ANIMATED WHOLE  SECTION STARTS
##################################################*/
.service-dislay{
  opacity: 0;
}
.service-display .animated{
  opacity: 1;
}

/*#################################################
          CONTACT SECTION STARTS
##################################################*/













/*#################################################
          CONTACT SECTION STARTS
##################################################*/
.footer{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-flow: row wrap;
  padding: 50px;
  color: #fff;
  background-image: url("../img/Black-Wood-Footer-Background.jpg");
  box-sizing: border-box;

}
.footer >*{
  flex: 1 100%;
}
.l-footer{
  margin-right: 1.25em;
  margin-bottom: 2em;

}
h2{
  font-weight: 900;
  font-size: 16px;
}
.footer ul{
  list-style: none;
  padding-left: 0;
}

.footer li{
  line-height: 2em;
}
.footer a{
  text-decoration: none;
}
.r-footer{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-flow: row wrap;
}
.r-footer > *{
  flex: 1 50%;
  margin-right: 1.25em;
}
.box a{
  text-decoration: none;
  color: #999;
}
.h-box{

}
.b-footer{
  text-align: center;
  color: #999;
padding-top: 50px;
}
.l-footer p{
  padding-right: 10%;
  color: #999;
}
@media screen and (min-width: 600px){
  .r-footer > *{
    flex: 1;
  }
  .features{
    flex-grow: 1;
  }
  .l-footer{
    flex: 1 0px;
  }
  .r-footer{
    flex: 2 0px;
  }
}
/*#################################################
          CONTACT SECTION STARTS
##################################################*/
